@font-face {
    font-family: 'BrownStd';
    src: url('../fonts/BrownStd-Bold.woff2') format('woff2'),
        url('../fonts/BrownStd-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BrownStd';
    src: url('../fonts/BrownStd-Regular.woff2') format('woff2'),
        url('../fonts/BrownStd-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BrownStd';
    src: url('../fonts/BrownStd-Light.woff2') format('woff2'),
        url('../fonts/BrownStd-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}